*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Caveat', cursive;
}
a{
    text-decoration: none;
    color: black;
    color: inherit;
}
body{
    background-color:  #2C2C2C;
}
input{
  width: 290px;
  border-radius: 8px;
  color: black;
}
i{
  color: black;
}

.pesquisa{
  margin-bottom: 40px;
  margin-right: 290px;
}
.pesquisa-input{
  position: absolute;
  text-indent: 40px;
  
}
.voa{
  position: absolute;
  margin-left: 10px;
  margin-top: 13px;
}

.navigation{
  display: flex;
  position:fixed;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow:  0 0.1rem 0.5rem rgba(61,0, 69, 0.9);
  width: 100%;
  background: #212529;
  
}

.logo{
  color: white;
  text-decoration: none;
  font-size: 40px;
}
span{
  color: #0FC20F;
  font-size: 30px;
}
.navigation ul{
  display: flex;
  align-items: center;
  gap: 5rem;
}
li{
  list-style: none;
  
}
li a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
  
}

.navigation i{
  cursor: pointer;
  font-size: 1.5rem;
}
.menu{
  cursor: pointer;
  display: none;
}
.menu .bar{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: black;
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),.menu .bar:nth-child(3){
  background-color: white;
}




@media (max-width: 785px) {

    header{
      width: 100%;
      
    }
    .navigation{
      padding: 12px 20px;
      width: 100%;
      
    }
    .menu{
      display: block;
    }
    .pesquisa{
      margin-bottom: 40px;
      margin-right: 190px;
    }
    .menu.ativo .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
      opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
      position:fixed;
      right: -100%;
      top: 70px;
      width: 70%;
      height: 100%;
      transition: 0.3s;
      background-color:#212529;
      
    }
    button{
      background: none;
      
    }
    .nav-menu{
      
      
    }
    .nav-menu.ativo{
      right:0 ;
      display: flex;
      flex-direction: column; 
    }
    .nav-item{
    }
    input{
      width: 190px;
      border-radius: 8px;
      color: black;
    }
  
    .h5{
      color: #0FC20F;
    }
  }